<p>Message from PArent: {{parentData}}</p>
<div class="container">
  <form (submit)='addTask($event, formNewTask)' #formNewTask="ngForm">
    <div class="form-group">
      <label for="Name">title of Task</label>
      <input type="text" name="title" class="form-control" id="name" aria-describedby="emailHelp" 
      required
      minlength="3"
      [(ngModel)]="newTask.title"
      [ngModelOptions]="{updateOn: 'blur'}"
      #titletask ="ngModel">
      <p>{{newTask.title}}</p>
      <div *ngIf="!titletask.valid && (titletask.dirty || titletask.touched)" class="text-errors"> Error, input valid value</div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Description</label>
      <input type="text" name="Description" class="form-control" id="exampleInputPassword1" 
      required
      minlength="3"
      [(ngModel)]="newTask.description"
      [ngModelOptions]="{updateOn: 'blur'}"
      #descriptiontask ="ngModel">
      <div *ngIf="!descriptiontask.valid && (descriptiontask.dirty || descriptiontask.touched)" class="text-errors"> Error, input valid value</div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Assign to</label>
      <select name="assigned" class="form-control" required [(ngModel)]="newTask.assigned" #assignedtask ="ngModel">
        <option value="not selected">Not assigned</option>
        <option *ngFor ="let user of users" [value]="user.fields.first_name">{{user.fields.first_name}}</option>
        <option value="laura">Laura</option>
      </select>
    </div>
    <button type="submit" *ngIf="formNewTask.valid" class="btn btn-primary">Add Task</button>
  </form>
</div>
<hr>